body{
    background-image: url('../imgs/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-link.nav{
    font-weight: bolder;
    color: white!important;
}

.nav-link.footer{
    color: black;
}

h1 {
    margin-top: 30vh;
    margin-bottom: 30vh;
    text-align: center;
}

.border-bottom {
    border-color: black!important;
}